* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", "sans-serif";
}

#root {
  max-width: 1200px; 
  margin: 0 auto;  
  padding: 20px;
  background-color: #f5f5f5;
}
